<div class="product">
  <img [src]="product.imageUrl" alt="product image" width="200px" />

  <h3>
    <a
      [title]="product.name + ' details'"
      [routerLink]="['/products', product.id]"
    >
      {{ product.name }}
    </a>
  </h3>

  <p *ngIf="product.description">Description: {{ product.description }}</p>

  <p *ngIf="product.rating !== 0">Rating: {{ product.rating }}</p>

  <p *ngIf="numOfLikes !== 0">Likes: {{ numOfLikes }}</p>

  <a [href]="product.amazonLinkUrl" target="_blank">Link to Amazon</a>

  <button type="button" (click)="like(product)">Like</button>
</div>
